/* Apparence générale début */

* {
	margin: auto;
	font-family: arial, sans-serif;
}

header {
	text-align: center;
	margin-bottom: 150px;
	background-color: greenyellow;
	padding-top: 25px;
	padding-bottom: 25px;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	margin: 25px;
}

a {
	font-size: 25px;
	color: black;
	text-decoration: none;
}

a:hover {
	color: royalblue;
}

/* Apparence générale fin */

/* ------------------------------------------*/

/* Exercice 1 début */

@keyframes boxcolor {
  0% {
    background-color: yellow;
    transform: rotate(0deg);
  }
  50% {
  	background-color: orange;
  }
  100% {
    background-color: red;
    transform: rotate(360deg);
  }
}

#box {
	margin: auto;
	width: 400px;
	height: 400px;
	animation-name: boxcolor;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 10s;
}

/* Exercice 1 fin */

/* ------------------------------------------*/

/* Exercice 2 début */

@keyframes ball {
	0% {
		top: 0px;
	}
	10% {
		top: 500px;
	}
	20% {
		top: 0px;
	}
	30% {
		bottom: 450px;
	}
	40% {
		bottom: 0px;
	}
	50% {
		top: 400px;
	}
	60% {
		top: 0px;
	}
	70% {
		top: 250px;
	}
	80% {
		top: 0px;
	}
	90% {
		top: 100px;
	}
	100% {
		top: 0px;
	}
}

#ball {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: black;

	animation-name: ball;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.ball {
	border: 5px solid black;
}

/* Exercice 2 fin */

/* ------------------------------------------*/

/* Exercice 3 début */

@keyframes loader {
	from {
		background-color: white;
	}
	to {
		background-color: black;
	}
}

.loader {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	border-radius: 100%;
	display: inline-block;
	margin-left: 20px;

	animation-name: loader;
	animation-duration: 2s;
	animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.loader:nth-child(2) {
  animation-delay: 2s; 
}

.loader:nth-child(3) {
  animation-delay: 3s;
}

.ex3 {
	text-align: center;
}

/* Exercice 3 fin */

/* ------------------------------------------*/

/* Exercice 4 début */

#fond {
	background-color: #DADDE2;
	width: 1000px;
	height: 500px;
	border: 1px solid black;
	position: relative;
}

#fond div {
	position: absolute;
}

@keyframes cubes {
	0% {
		transform: rotate(360deg);
		right: 50px;
	}

	25% {
		bottom: 50px;
	}

	50% {
		bottom: 50px;
	}

	75% {
		left: 50px;
	}

	100% {
		top: 50px;
	}

	0% {
		top: 50px;
	}e
}

#cube1 {
	width: 50px;
	height: 50px;
	background-color: white;

	animation-name: cubes;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

#cube2 {
	width: 50px;
	height: 50px;
	background-color: red;

	animation-name: cubes;
	animation-delay: 2s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

#cube3 {
	width: 50px;
	height: 50px;
	background-color: yellow;

	animation-name: cubes;
	animation-delay: 5s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

#cube4 {
	width: 50px;
	height: 50px;
	background-color: blue;

	animation-name: cubes;
	animation-delay: 8s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

#cube5 {
	width: 50px;
	height: 50px;
	background-color: pink;

	animation-name: cubes;
	animation-delay: 11s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

#cube6 {
	width: 50px;
	height: 50px;
	background-color: green;

	animation-name: cubes;
	animation-delay: 14s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

/* Exercice 4 fin */